* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.head {
    height: 100vh;
    background-image: url(../images/pexels-alleksana-4051442.jpg);
     box-shadow: 3px 3px 5px #000000ab;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.info{
    margin: 8vw;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
}
.info h1{
    font-size: 3vw;
    color: black;
}
.info h2{
    font-size: 3vw;
    color: black;
}
.info p{
    font-size: 2vw;
    color: black
}


header {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    align-items: center;
    height: 10%;
}

nav {

    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;

}

nav a {
    text-decoration: none;
    padding: 15px;
    height: 8px;
    color: black;
    font-size: 1.5vw;
     margin-top: -4vw;;
}

nav a:hover {
    text-decoration: underline;
    transition: 1s ease;
    transform: scale(1.1);
    opacity: 0.8;

}




.logo {
    font-size: 3vw;;

    padding:   1vw;
    margin-top: 6vw;
    color: gold;
}




.logoimg {
  margin-top: 75px;
}




.productlist > section {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
  margin-bottom: 60px;
}

.productlist > section > h2 {
  grid-column: 1/-1;
  margin-bottom: -40px;
}

.product {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px #000000ab;
  position: relative;
    margin: 2vw;
    transition: 0.5s;
}
.product:hover{
    transform: scale(1.03);
    transition: .5s;
}

.product p {
  color: var(--font-color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

.productbody {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

}

.productbody button {
  margin-top: auto;
  background-color: var(--secondary-light);
  color: #fff;
  border: 0;
  padding: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}
data_discount h4{
    color: green;
}
.fillers{
    margin: 2vw;
   width: 20vw;
}

#veggiefilter{
    margin: .5vw;
}
footer {
  background-color: black;;
  margin-bottom: 0;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
}

footer p {
  margin-left: 60px;
}

.hidden {
  display: none;
}

button.active {
  background: hotpink;
  color: white;
}
#see_details{
    background-color: skyblue;
}
.data_discount{
    position: absolute;
    background-color: lightgreen;
    color: white;
    height: 2.5vw;
    font-size: 2vw;
    width: 10vw

        ;
    top: -2.5vw;
    left: .1vw;
    border-radius: 10%;

}

.data_price{
    color: limegreen;
}
.soldout {
  position: absolute;
  top: 14.3vw;;
  left: .5vw;;
background-color: red;

  width: 13vw;;
  padding: .6rem;
  margin: 0;

    color: red;
}
p.soldout{
     font-size: 2vw;
}

.icons{
    width: 5vw;
    display: flex;
}

/*THE MODAL*/
.hide {
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  padding: 2em;
}
